#home-page {
	display: grid;
	grid-template-rows: repeat(8, auto);
	grid-template-columns: repeat(8, 1fr);
	grid-template-areas: 
	"fav fav fav fav fav artist artist artist"
	"fav fav fav fav fav artist artist artist"
	"fav fav fav fav fav artist artist artist"
	"fav fav fav fav fav artist artist artist"
	"genre genre genre genre genre player player player"
	"genre genre genre genre genre player player player"
	"playlist playlist playlist playlist playlist player player player"
	"playlist playlist playlist playlist playlist player player player"
	"playlist playlist playlist playlist playlist player player player";
	gap: 20px;

	#playlist {
		grid-area: playlist
	}

	#artists-list {
		grid-area: artist;
	}

	#genres-list {
		@include flex(row);
		grid-area: genre;
	}
}