<div class="song-widget">
	<button type="button" data-song="avatar" class="song-widget__avatar"></button>
	<div class="song-widget__info">
		<p data-song="name" class="info__name"></p>
		<p data-song="album" class="info__album"></p>
		<p data-song="artist" class="info_artist"></p>
	</div>
	<time data-song="time"></time>
	<div class="control-panel">
		<button control-button="album" type="button">

		</button>
		<button control-button="like" type="button">

		</button>
		<button control-button="add" type="button">

		</button>
	</div>
</div>