.song-widget {
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	gap: $s-margin;
	width: calc(50% - $s-margin * 2);
	padding-right: $nano-margin;
	margin: $s-margin;
	color: $white;

	&__info {
		@include flex();
		gap: 2px;
	}

	.info {
		&__name {
			font-size: $r-font;
		}

		&__album {
			margin-bottom: $s-margin;
			font-size: $m-font;
			color: $gray;
		}

		&__artist {
			font-size: $s-font;
			color: $gray;
		}
	}

	&__time {
		margin-left: auto;
		font-size: $s-font;
	}

	button {
		@include clear-button;
	}

	button img {
		border-radius: $s-margin;
	}

	.control-panel {
		@include flex(row);
		gap: $s-margin;
		.icon {
			@include icon(24px);
		}
	}
}