@mixin flex($direction: column, $justify: flex-start, $align: flex-start) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $align;
}

@mixin icon($width, $height: $width) {
	display: block;
	width: $width;
	height: $height;
	background-position: center;
	background-repeat: no-repeat;
	transition: 0.3s;
	
	& svg,
	& g {
		transition: 0.1s;
	}

	&:hover {
		cursor: pointer;
	}

	&:hover > svg {
		fill: $main-accent-color !important;
	}

	&:hover g {
		stroke: $main-accent-color !important;
	}
}

@mixin clear-button {
	@include flex(row, center, center);
	background: none;
	border: none;
}