$back-color: #0f0f0f;
$main-accent-color: #adff6c;
$widget-color: rgba(255, 255, 255, 0.05);
$white: #ffffff;
$gray: #b5b5b5;

$big-margin: 40px;
$m-margin: 15px;
$s-margin: 10px;
$nano-margin: 5px;

$s-font: 10px;
$m-font: 12px;
$r-font: 14px;
$l-font: 16px;

$header-font: 22px;

$artist-widget-height: 100px;