.genre-item {
	@include flex(row, center, center);
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: calc((100% - 50px) / 5);
	height: 110px;
	padding: $m-margin;
	margin: $nano-margin;
	border-radius: $m-margin;

	&__name {
		text-transform: uppercase;
		text-align: center;
		font-size: $r-font;
		color: $white;
	}
}